<header (window:resize)="resizeWindow($event)" #header>
    <div id="container-header">
        <h1 class="title-blog">Wellerson Roberto</h1>
        <h1 class="sub-title-blog">Um desenvolvedor...</h1>

        <div class="container-scroll-down">
            <span class="span-blog-scroll">Role para baixo...</span>
            <img class="img-blog-scroll" src="http://res.cloudinary.com/djamk8tub/image/upload/v1470803467/scrolldown_szcfpz.gif">
        </div>
    </div>
</header>

<div class="container-posts" infinite-scroll
           infinite-scroll
            [infiniteScrollDistance]="1"
            [infiniteScrollThrottle]="500"
            (scrolled)="scrollInfinite()">
    <div class="blog">
        <div class="post-preview" *ngFor="let post of posts" [style.background-image]="buildBackgroundImageFromPost(post)">
            <a routerLink="/blog/{{post.key_url}}" class="post-container-preview">
                <div class="post-preview-content">
                    
                    <h2 class="post-preview-title">
                        {{post.title}}
                    </h2>

                    <div class="post-preview-hidden">
                        <span class="post-preview-date">{{post.published_date | dateToStringPipe}}</span>
                        <div class="post-preview-brief" [innerHTML]="post.summary_html"></div>

                        <div class="post-preview-category-container" *ngIf="post.categories.length > 0">
                            <a *ngFor="let category of post.categories" routerLink="/list" [queryParams]="{category: category.key_url}">{{category.title}}</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div id="container-loading-more" [class.active]="isLoadingMorePost">
    <img src="assets/images/loader.svg"/>
</div>

