<menu id="menu" [class.sticky]="menuSticky" (window:scroll)="scroll($event)" #menu>
    <div class="container-menu">
        <div id="container-menu-pc">
            <ul id="menu-left">
                <li>
                    <a routerLink="/" class="logo-menu">Wellerson Roberto</a>
                </li>
                <li>
                    <a routerLink="/">Eu</a>
                </li>
                <li>
                    <a routerLink="/" id="main-tags">Categorias</a>
                </li>
            </ul>
            <div id="menu-right">
                <div class="container-search">
                    <img src="assets/images/search.svg" id="main-menu-search" (click)="changeTextSearchMode(txtSearch)"/>
                    <input class="txt-search" [class.active]="textSearchActive" #txtSearch>
                </div>
            </div>
        </div>

        <div id="container-menu-mobile">
            <div class="container-logo-mobile">
                <a href="/" class="logo-menu">Wellerson Roberto</a>
            </div>
            <div>
                <a href="/"><img src="assets/images/user.svg"></a>
            </div>
            <div>
                <a href="/"><img src="assets/images/tag.svg"></a>
            </div>
            <div id="container-search-mobile">
                <img src="assets/images/search.svg">
            </div>
            <div id="container-input-search-mobile">
                <input class="txt-search-mobile">
            </div>
        </div>
    </div>
</menu>

<router-outlet #router></router-outlet>