#menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background .7s;
}

    #menu.sticky {
        background: rgba(0, 0, 0, 0.8);
    }

    #menu ul {
        display: flex;
    }

    #menu a, #menu .item-menu {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 10px 14px;
        height: 100%;
        transition: color .3s;
    }

    #menu .item-menu{
        cursor: pointer;
    }

        #menu a:hover, #menu .item-menu:hover {
            color: #0080f3;
        }

.logo-menu {
    font-size: 22px;
    margin-right: 60px;
    white-space: nowrap;
}

.container-item-category{
    position: relative;
}

.container-menu-category{
    position: absolute;
    top: 100%;
    background: rgba(0,0,0,.7);
    color: #fff;
        width: 300px;
    text-align: center;
}

.content-menu-category{
    max-height: 260px;
    overflow: auto;
    font-size: 12px;
}

#container-menu-mobile {
    display: none;
    justify-content: center;
    background: #282828;
    position: relative;
}

#container-input-search-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 30px;
    transform: translateY(-100%);
    z-index: -1;
    transition: transform .5s;
}

.txt-search-mobile{
        position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
        background: #565454;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 0 15px;
}

#container-input-search-mobile.active{
    transform: translateY(0);
}

.container-logo-mobile {
    flex-grow: 1;
}

#container-search-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
}

#container-menu-pc {
    display: flex;
    padding: 0 20px;
}

#menu-left {
    flex-grow: 1;
}

#menu img {
    width: 20px;
    cursor: pointer;
}

#menu-left li {
    margin-right: 10px;
}

.container-search {
    display: flex;
    align-items: center;
    height: 100%;
}

.txt-search {
    width: 0;
    padding: 3px;
    background: none;
    border: 1px solid #ccc;
    transition: width .7s, opacity .5s;
    pointer-events: none;
    margin-left: 10px;
    opacity: 0;
    color: #fff;
}

    .txt-search.active {
        width: 160px;
        opacity: 1;
        pointer-events: initial;
    }

    .txt-search:focus {
        outline: none;
    }

.container-footer {
  background: #363636;
  padding: 10px;
  color: #fff;
}

  .footer {
    text-align: center;
  }

.footer-heart-icon {
    width: 12px;
  }

.link-flaticon {
  color: #2196F3;
  text-decoration: none;
  transition: color .5s;
}

  .link-flaticon:hover {
    color: #f37d00;
    text-decoration: underline;
  }

  .loading-overlay{
      position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.7);
    z-index: 99;
  }

  .loading-overlay img{
    width: 48px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -24px;
    margin-left: -24px;
  }