<header>
    <div id="container-header" class="mid" *ngIf="post">
        <div class="container-header-mid-background"></div>
        <img class="container-header-mid-image" [src]="post.img_url">
        <h1 class="title-blog">{{post.title}}</h1>
        <h1 class="sub-title-blog">{{post.published_date | dateToStringPipe}}</h1>
    </div>
</header>

<div class="container-post-inside">
    <article *ngIf="post">
        <div class="post" highlight [innerHTML]="post.content_html">

        </div>
    </article>
</div>