#container-header.mid, .container-header-mid-image, .container-header-mid-background {
    height: 50vh;
}

    #container-header.mid .title-blog, #container-header.mid .sub-title-blog {
        width: 100%;
        text-align: center;
    }
 
.container-header-mid-background, .container-header-mid-image {
    position: absolute;
    top: 0;
    width: 100%;
}

.container-header-mid-background{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
        z-index: -1;
}

.container-header-mid-image {
    z-index: -2;
    object-fit: cover;
}

.container-post-inside {
    padding-top: 50px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}