* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

ul {
    list-style: none;
}

body {
    font-family: sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.centralize {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#container-header {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    text-align: center;
}

.container {
    flex: 1;
}

.title-blog {
    font-size: 50px;
    color: #fff;
}

.sub-title-blog {
    font-size: 20px;
    color: #ccc;
}

.post{
color: #333;
}

.post p {
    margin: 30px 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

/*ver uma forma melhor de usar o innerhtml ?*/
.loader-bootstrap{
        width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.post img {
    display: block;
    margin: 12px auto;
    max-width: 100%;
}

.post li {
    position: relative;
    left: 20px;
    margin-bottom: 5px;
    list-style: disc;
    color: #555;
}

.post a {
    color: #0080f3;
}

    .post a:hover {
        text-decoration: underline;
    }

.post h1, .post h2, .post h3, .post h4, .post h5 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.post h1{
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eee;
}

.post h2{
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}

.post h3{
    font-size: 1.25em;
}

.post h4{
     font-size: 1em;
}

blockquote {
    background: #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

    blockquote p {
        margin: 0 !important;
        text-indent: 0 !important;
    }

pre {
    margin-bottom: 15px;
}